Language: Cpp
BasedOnStyle: LLVM

# Indent
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 120

# Space
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: false
SpacesInCStyleCastParentheses: false
SpacesInAngles: false
SpacesInConditionalStatement: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Cpp11BracedListStyle: true

# Funcion
BinPackParameters: false
BinPackArguments: false

# Next line
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

# Single line
AllowShortBlocksOnASingleLine: Always
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All # Inline
AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: false 

# Constructor
ConstructorInitializerAllOnOneLineOrOnePerLine: true

# Align
PointerAlignment: Right
ReferenceAlignment: Right
AlignAfterOpenBracket: Align
AlignOperands: Align
AlignEscapedNewlines: Right

# Break 
BreakBeforeBinaryOperators: None
AlwaysBreakTemplateDeclarations: Yes
BreakInheritanceList: AfterColon # BeforeComma
BreakConstructorInitializers: AfterColon # BeforeComma

# Braces
BreakBeforeBraces: Attach
