Language: Cpp
BasedOnStyle: LLVM
AlwaysBreakTemplateDeclarations: Yes
IndentWidth: 4
AccessModifierOffset: -4
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: false
ColumnLimit: 80

# Funcion
BinPackParameters: false
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline

# Code
AllowShortBlocksOnASingleLine: Always

# Constructor
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true